.page-header{
  margin-bottom: 25px;
  .page-header-title{
    margin-bottom: 75px;
          text-transform: uppercase;
  }
  .page-header-subtitle{
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 768px) {

  .page-header{
    .page-header-title{

    }
  }

}
