.timeline .timeline-item .timeline-icon{
  background: $second_color!important;
  color:white!important;
}

code{
    background: transparent!important;
    color: inherit;
}

.content{
    h2{
        margin-top: 50px; 
    }
    p img{
        width: 100%;
    }
}

a.active, a:active, a:focus, a:hover{
    border : 0!important;
   outline : none!important;
   -moz-outline-style: none;
}